version: '2.4'

services:
  project-zomboid:
    image: afey/zomboid
    restart: unless-stopped
    environment:
      SERVER_NAME: ${SERVER_NAME}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    ports:
      - "8766:8766/udp"
      - "8767:8767/udp"
      - "16261:16261/udp"
      - "16262-16272:16262-16272"
      - "27015:27015"
    volumes:
      - ./data:/server-data/
      - ./config:/server-files/
